<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>欢迎光临，名派优品</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="../common/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../common/css/public.css">
<link rel="stylesheet" type="text/css" href="css/member.css">
</head>
<body class="background-gray">
<!--S head -->
<header class="header detail">
	<p class="btn-goBack"><i class="fi fi-prev"></i></p>
	<p class="title">订单管理</p>
</header>
<!--E head -->

<!--S floor1 -->
<div class="cartEdit">
	<div class="order-bar">
		<ul class="items webkit-box">
			<li class="item flex on"><a href="">全部</a></li>
			<li class="item flex"><a href="">待付款</a></li>
			<li class="item flex"><a href="">待发货</a></li>
			<li class="item flex"><a href="">待收货</a></li>
			<li class="item flex"><a href="">待评价</a></li>
		</ul>
	</div>
	<div class="order-search webkit-box">
		<i class="fi fi-search"></i>
		<input type="text" class="text flex" placeholder="搜索商品">
	</div>
	<ul class="items order-list">
		<li class="item">
			<div class="order-info c-666">
				<p class="top-desc webkit-box"><span class="num flex">订单号：SZ2017021518340004</span>
				<span class="state">2017-05-12 20:06</span></p>
				<span class="bottom-tips">您订单中的商品在不同库房或属于不同商家，已拆分为以下订单分开配送。</span>
			</div>
			<div class="order-info webkit-box">
				<span class="num flex">子订单：SZ2017021518340004</span>
				<span class="state color">待发货</span>
			</div>
			<dl>
				<dd class="top-info webkit-box">
					<div class="left">
						<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
					</div>	
					<div class="info flex ellipsis">
						<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
						<div class="list">
							<p class="listDesc">无线鼠标、键盘、耳机</p>
						</div>
						<div class="mb">
							<div class="buyInfo">
								<p class="mouch"><span class="price">￥99.00</span></p>
							</div>
						</div>
					</div>
					<p class="order-total">×1</p>
				</dd>
				<dd class="top-info webkit-box">
					<div class="left">
						<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
					</div>	
					<div class="info flex ellipsis">
						<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
						<div class="list">
							<p class="listDesc">无线鼠标、键盘、耳机</p>
						</div>
						<div class="mb">
							<div class="buyInfo">
								<p class="mouch"><span class="price">￥99.00</span></p>
							</div>
						</div>
					</div>
					<p class="order-total">×100</p>
				</dd>
			</dl>	
			<dl>
				<dd class="bottom-info webkit-box">
					<p class="total flex">共2件商品 合计：<span class="jiage">￥268.00</span></p>
				</dd>	
				<dd class="bottom-info webkit-box">
					<div class="bottom-btn flex">
						<!-- <a href="javascript:void(0)" class="btn-su ru5 btn-mr J_quitOrder">取消订单</a> -->
						<a href="javascript:void(0)" class="btn-re ru5 J_remind">提醒发货</a>
					</div>
				</dd>
			</dl>	
			<div class="order-info webkit-box">
				<span class="num flex">子订单：SZ2017021518340004</span>
				<span class="state color">待发货</span>
			</div>	
			<dl>
				<dd class="top-info webkit-box">
					<div class="left">
						<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
					</div>	
					<div class="info flex ellipsis">
						<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
						<div class="list">
							<p class="listDesc">无线鼠标、键盘、耳机</p>
						</div>
						<div class="mb">
							<div class="buyInfo">
								<p class="mouch"><span class="price">￥99.00</span></p>
							</div>
						</div>
					</div>
					<p class="order-total">×100</p>
				</dd>
			</dl>
			<dl>
				<dd class="bottom-info webkit-box">
					<p class="total flex">共2件商品 合计：<span class="jiage">￥268.00</span></p>
				</dd>	
				<dd class="bottom-info webkit-box">
					<div class="bottom-btn flex">
						<!-- <a href="javascript:void(0)" class="btn-su ru5 btn-mr J_quitOrder">取消订单</a> -->
						<a href="" class="btn-re ru5">提醒发货</a>
					</div>
				</dd>
			</dl>		
		</li>
		<li class="item">
			<div class="order-info webkit-box">
				<span class="num flex">订单编号：SZ2017021518340004</span>
				<span class="state color">待付款</span>
			</div>
			<div class="top-info webkit-box">
				<div class="left">
					<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
				</div>	
				<div class="info flex ellipsis">
					<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
					<div class="list">
						<p class="listDesc">无线鼠标、键盘、耳机</p>
					</div>
					<div class="mb">
						<div class="buyInfo">
							<p class="mouch"><span class="price">￥99.00</span></p>
						</div>
					</div>
				</div>
				<p class="order-total">×100</p>
			</div>
			<dl>
				<dd class="bottom-info webkit-box">
					<p class="total flex">共2件商品 合计：<span class="jiage">￥268.00</span></p>
				</dd>	
				<dd class="bottom-info webkit-box">
					<div class="bottom-btn flex">
						<a href="javascript:void(0)" class="btn-su ru5 btn-mr J_quitOrder">取消订单</a>
						<a href="javascript:void(0)" class="btn-re ru5 J_pay">去付款</a>
					</div>
				</dd>
			</dl>		
		</li>
		<li class="item">
			<div class="order-info webkit-box">
				<span class="num flex">订单编号：SZ2017021518340004</span>
				<span class="state color">待收货</span>
			</div>
			<dl>
				<dd class="top-info webkit-box">
					<div class="left">
						<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
					</div>	
					<div class="info flex ellipsis">
						<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
						<div class="list">
							<p class="listDesc">无线鼠标、键盘、耳机</p>
						</div>
						<div class="mb">
							<div class="buyInfo">
								<p class="mouch"><span class="price">￥99.00</span></p>
							</div>
						</div>
					</div>
					<p class="order-total">×100</p>
				</dd>
				<dd class="top-info webkit-box">
					<div class="left">
						<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
					</div>	
					<div class="info flex ellipsis">
						<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
						<div class="list">
							<p class="listDesc">无线鼠标、键盘、耳机</p>
						</div>
						<div class="mb">
							<div class="buyInfo">
								<p class="mouch"><span class="price">￥99.00</span></p>
							</div>
						</div>
					</div>
					<p class="order-total">×100</p>
				</dd>
			</dl>	
			<dl>
				<dd class="bottom-info webkit-box">
					<p class="total flex">共2件商品 合计：<span class="jiage">￥268.00</span></p>
				</dd>	
				<dd class="bottom-info webkit-box">
					<div class="bottom-btn flex">
						<a href="logistics.html" class="btn-re ru5">查看物流</a>
						<a href="" class="btn-re ru5">确认收货</a>
					</div>
				</dd>
			</dl>		
		</li>
		<li class="item">
			<div class="order-info webkit-box">
				<span class="num flex">订单编号：SZ2017021518340004</span>
				<span class="state color">待评价</span>
			</div>
			<dl>
				<dd class="top-info webkit-box">
					<div class="left">
						<p class="pic"><a href="order_detail.html"><img src="../common/images/pro210x210x01.png" alt="" class="img"></a></p>
					</div>	
					<div class="info flex ellipsis">
						<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
						<div class="list">
							<p class="listDesc">无线鼠标、键盘、耳机</p>
						</div>
						<div class="mb">
							<div class="buyInfo">
								<p class="mouch"><span class="price">￥99.00</span></p>
							</div>
						</div>
					</div>
					<p class="order-total">×100</p>
				</dd>
			</dl>	
			<dl>
				<dd class="bottom-info webkit-box">
					<p class="total flex">共2件商品 合计：<span class="jiage">￥268.00</span></p>
				</dd>	
				<dd class="bottom-info webkit-box">
					<div class="bottom-btn flex">
						<a href="../website-c/comment.html" class="btn-re ru5">评价</a>
					</div>
				</dd>
			</dl>		
		</li>
	</ul>
</div>
<!--E floor1 -->
<!--回到顶部-->
<div class="backTop" id="J_ToTop"><i class="fi fi-back"></i></div>
<!--S alert-->
<div class="mask"></div>
<!--提醒发货成功-->
<div class="tips">
	<i class="fi fi-tianjiachenggong"></i>
	<p>提醒发货成功！</p>
</div>	
<!--取消订单-->
<div class="dialog-fixed dialog quit-order">
	<p class="dialog-content single">确认取消此订单？</p>
	<p class="dialog-mb webkit-box">
		<span class="btnf-full quit flex">取消</span>
		<span class="btnf-full sure flex">确定</span>
	</p>
</div>
<!--支付方式-->
<div class="alert pay-way fixed">
	<div class="alert-content">
		<h1 class="title">支付方式</h1>
		<ul class="items">
			<li class="item webkit-box">
				<span class="title-name"><img class="img" src="../common/images/zfb.png" alt=""></span>
				<p class="flex desc"><a href="../pay-c/alipay.html"><span class="name">支付宝支付</span><i class="fi fi-next"></i></a></p>
			</li>
			<li class="item webkit-box">
				<span class="title-name"><img class="img" src="../common/images/wx.png" alt=""></span>
				<p class="flex desc"><a href="../pay-c/weChat.html"><span class="name">微信支付</span><i class="fi fi-next"></i></a></p>
			</li>
			<li class="item webkit-box">
				<span class="title-name"><img class="img yl" src="../common/images/yl.png" alt=""></span>
				<p class="flex desc"><a href="../pay-c/unnionPay.html"><span class="name">银联支付</span><i class="fi fi-next"></i></a></p>
			</li>
			<li class="item webkit-box">
				<span class="title-name"><img class="img" src="../common/images/xj.png" alt=""></span>
				<p class="flex desc"><a href="../pay-c/cash.html"><span class="name">资金支付</span><i class="fi fi-next"></i></a></p>
			</li>
		</ul>
	</div>	
	<div class="mask"></div>
</div>
<!--E alert-->
<script src="../common/js/jquery-1.7.2.min.js"></script>
<script src="../common/js/public.js"></script>
</body>
</html>
<script type="text/javascript" src="js/member.js"></script>
<script>    
	//确认取消
	$('.J_quitOrder').on('click',function(){
		$('.mask').show();	
		$('.quit-order').addClass('open');
	});  
	//申请取消
	$('.J_quitAsk').on('click',function(){
		$('.mask').show();	
		$('.quit-ask').addClass('open');
	});
	//点击取消
	$(".dialog-fixed .quit, .dialog-fixed .sure").live('click',function(){
		$('.mask').hide();
		$(this).parents('.dialog-fixed').removeClass('open');
	});    
  //去付款
  $('.J_pay').on('click',function(){
  	$('.alert').addClass('on');
  	$('html,body').addClass('ovfHiden');
  });
  //提醒发货
	$('.J_remind').on('click',function(){
		$('.tips').addClass('open');
		setTimeout(function(){
			$('.tips').removeClass('open');
		},1500);
	});
</script>