<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>欢迎光临，名派优品</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="../common/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../common/css/public.css">
<link rel="stylesheet" type="text/css" href="css/member.css">
</head>
<body class="background-gray">
<!--S head -->
<header class="header detail">
	<p class="btn-goBack"><i class="fi fi-prev"></i></p>
	<p class="title">订单详情</p>
</header>
<!--E head -->

<!--S floor1 -->
<div class="cartEdit order order-detail">
	<div class="orderDetail">
		<ul>
			<li>
				<dl class="webkit-box">
					<dd class="on flex">提交订单<p class="time">2017-04-06 20:52</p></dd>
					<dd>付款成功</dd>
					<dd>商品发货</dd>
					<dd>等待收货</dd>
					<dd>完成</dd>
				</dl>
			</li>
			<li>
				<p class="item">订单状态：待付款</p>
				<p class="item">订单编号：SZ2017021518340004</p>
				<p class="item">下单时间：2017-02-15 18:34:50</p>
			</li>
			<li class="orderDetail-bottomBtn"><a class="btn-bo ru5 J_quitOrder">取消订单</a><a class="btn-bo ru5">去支付</a></li>
		</ul>
	</div>
	<div class="orderDetail bor-top">
		<div class="item"><span class="name">商品金额：</span>￥171.00</div>
		<div class="item webkit-box"><span class="name">收货地址：</span><span class="flex">广东省深圳市龙华新区1980文化创意产业园</span></div>
		<div class="item"><span class="name">收货人：</span>柴华 134****1210</div>
		<div class="item"><span class="name">配送方式：</span>申通快递</div>
		<div class="item webkit-box">
			<span class="name">发票信息：</span>
			<div class="invoice-detail flex">
				<h3 class="invoice-detail-title">不开发票</h3>
				<p class="invoice-detail-info">发票税点：17%</p>
				<p class="invoice-detail-info">发票抬头：深圳市筷云股份有限公司</p>
				<p class="invoice-detail-info">发票内容：明细</p>
				<p class="invoice-detail-info">开户银行：中国银行</p>
				<p class="invoice-detail-info">开户账号：400620159964802</p>
				<p class="invoice-detail-info">纳税人识别号：2003691023</p>
			</div>
		</div>
	</div>
	<div class="box">
		<ul class="items order-list">
			<li class="item">
				<p class="orderDetail-topTaoal">共计2件商品</p>
				<dl>
					<dd class="top-info webkit-box">
						<div class="left">
							<p class="pic"><a href="order_detail.html"><img src="../common/images/img3.jpg" alt="" class="img"></a></p>
						</div>	
						<div class="info flex ellipsis">
							<div class="info-top webkit-box">
								<div class="infoTop-left flex">
									<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
									<div class="list">
										<p class="listDesc">无线鼠标、键盘、耳机</p>
									</div>
								</div>	
								<p class="order-total">×1</p>
							</div>	
							<div class="info-bottom">
								<span class="price">￥<em>99.00</em></span>
								<a href="" class="btn-bo ru5">申请售后</a>
							</div>
						</div>
					</dd>
					<dd class="top-info webkit-box">
						<div class="left">
							<p class="pic"><a href="order_detail.html"><img src="../common/images/img3.jpg" alt="" class="img"></a></p>
						</div>	
						<div class="info flex ellipsis">
							<div class="info-top webkit-box">
								<div class="infoTop-left flex">
									<h1 class="title"><a href="order_detail.html">华硕 顽石四代FL5700U 15.6英寸笔记本(i7-7500U 4G...</a></h1>
									<div class="list">
										<p class="listDesc">无线鼠标、键盘、耳机</p>
									</div>
								</div>	
								<p class="order-total">×1</p>
							</div>	
							<div class="info-bottom">
								<span class="price">￥<em>99.00</em></span>
								<a href="" class="btn-bo ru5">申请售后</a>
							</div>
						</div>
					</dd>
				</dl>	
			</li>
		</ul>
	</div>	
	<div class="box">
		<div class="box-mb">
			<ul class="items">
				<li class="item"><span class="name">商品金额</span><span class="total">￥800.00</span></li>
				<li class="item"><span class="name">优惠金额</span><span class="total">￥800.00</span></li>
				<li class="item"><span class="name">配送费用</span><span class="total">￥800.00</span></li>
				<li class="item"><span class="name">积分抵扣</span><span class="total">￥800.00</span></li>
				<li class="item"><span class="name">税费</span><span class="total">￥800.00</span></li>
			</ul>
		</div>
		<p class="orderDetail-total">实付总额：<span class="total-price">￥268.00</span></p>
	</div>	
</div>
<!--E floor1 -->
<!--S alert-->
<div class="mask"></div>
<!--取消订单-->
<div class="dialog-fixed dialog quit-order">
	<p class="dialog-content single">确认取消此订单？</p>
	<p class="dialog-mb webkit-box">
		<span class="btnf-full quit flex">取消</span>
		<span class="btnf-full sure flex">确定</span>
	</p>
</div>
<!--E alert-->
<script src="../common/js/jquery-1.7.2.min.js"></script>
<script src="../common/js/public.js"></script>
</body>
</html>
<script type="text/javascript" src="js/member.js"></script>
<script type="text/javascript">
	//确认取消
	$('.J_quitOrder').on('click',function(){
		$('.mask').show();	
		$('.quit-order').addClass('open');
	}); 
</script>