<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>欢迎光临</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="../html-touch/common/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="../html-touch/common/css/public.css">
<link rel="stylesheet" type="text/css" href="../html-touch/common/css/style.css">
<link rel="stylesheet" type="text/css" href="../html-touch/common/css/swiper-3.4.2.min.css">
<link rel="stylesheet" type="text/css" href="../html-touch/common/js/larea/css/lArea.css">
<link rel="stylesheet" type="text/css" href="../html-touch/website-c/css/index.css">
<link rel="stylesheet" type="text/css" href="../html-touch/website-c/css/page.css">
</head>
<body class="background-gray">
<!--S head -->
<header class="header detail">
	<p class="btn-goBack"><i class="fi fi-prev"></i></p>
	<p class="title">商品详情</p>
</header>
<!--E head -->

<!--S banner -->
<div class="waper">
	<div class="swiper-container detail">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="../html-touch/common/images/img-xq.jpg"></div>
	        <div class="swiper-slide"><img src="../html-touch/common/images/img-xq.jpg"></div>
	        <div class="swiper-slide"><img src="../html-touch/common/images/img-xq.jpg"></div>
	    </div>
	    <div class="pagination"><span class="index"><em class="num">1</em>/3</span></div>
	</div>
</div>
<!--S banner -->

<!--S detail_info -->
<div class="detail-info">
	<h1 class="title">艾米 真皮沙发 定位高端 国际顶级代工厂</h1>
	<div class="info webkit-box">
		<p class="flex">
			<strong class="price">￥6999.00</strong>
			<del class="del">￥9980.00</del>
		</p>
		<p class="txt-right">销量: 4688</p>
	</div>
</div>
<!--E detail_info -->

<!--S floor1 -->
<div class="product_detailItems">
	<!--S info1 -->
	<ul class="items">
		<li class="item"><p class="title">积分<span class="buytips">购买可获得500积分</span></p></li>
		<li class="item integral">
			<dl class="tipsTag">
				<dd>
					<i class="fi fi-fankui"></i>货品保证
				</dd>
				<dd>
					<i class="fi fi-fankui"></i>厂家直供
				</dd>
				<dd>
					<i class="fi fi-fankui"></i>性价比高
				</dd>
				<dd>
					<i class="fi fi-fankui"></i>快捷配送
				</dd>
			</dl>
		</li>
	</ul>
	<!--S info2 -->
	<ul class="items mb20">
		<li class="item webkit-box box-choose-type">
			<span class="title">已选</span>
			<dl class="chose flex">
				<dd class="on">灰色</dd>
			</dl>
		</li>
	</ul>
	<!--S 店铺-->
	<div class="shop-wrap">
		<h2 class="title">
			<a href="shop_list.html">
				<span class="shop-logo"><img class="" src="../html-touch/common/images/shop-logo.jpg" alt="" /></span>
			艾米家具旗舰店
			</a>
		</h2>
		<div class="webkit-box">
			<div class="flex">
				<span class="num">89</span>
				<p class="txt">全部宝贝</p>
			</div>
			<div class="flex">
				<span class="num">4568</span>
				<p class="txt">交易量</p>
			</div>
		</div>
	</div>
	<!--E 店铺-->
	<!--S info3 -->
	<ul class="items">
		<li class="item">
			<a href="evaluate.html">
				<span class="title">商品评价（1000）</span>
				<span class="chose fr">好评度<em class="font-theme">10%</em><i class="fi fi-next font-black"></i></span>
			</a>
		</li>
	</ul>



	<!--S noData -->
	<!--<div class="noData houmeBot">
		<p class="noData_tips">上拉，查看详情</p>
	</div>-->
	<!--E noData -->
</div>


<!--E floor1 -->

<footer class="footer detail webkit-box">
	<div class="footer-nav nav">
		<ul class="items webkit-box">
			<li class="item flex" onclick="$('.mask').show();$('#alertConnectServer').addClass('open');">
				<a href="javascript:;">
					<p class="pic">
						<i class="fi fi-zixun img1"></i>
					</p>
					<p class="name">在线客服</p>
				</a>
			</li>
			<li class="item flex" onclick="alertTips('success','收藏成功');$(this).addClass('on')">
				<a href="JavaScript:;">
					<p class="pic">
						<i class="fi fi-shoucang"></i>
					</p>
					<p class="name">收藏</p>
				</a>
			</li>
			<li class="item flex">
				<a href="../member/cart.html">
					<p class="pic">
						<i class="fi fi-gouwuche img1"></i>
						<i class="fi fi-cart_1 img2"></i>
						<em class="num">12</em>
					</p>
					<p class="name">购物车</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-nav handle flex">
		<ul class="items">
			<li class="item buyNow">
				<a href="../html-touch/member/order.html">
					<p class="name">立即购买</p>
				</a>
			</li>
			<li class="item addCart">
				<a href="javascript:void(0)" class="box-choose-type">
					<p class="name">加入购物车</p>
				</a>
			</li>
		</ul>
	</div>
</footer>

<div class="backTop" id="J_ToTop"><i class="fi fi-back"></i></div>
<!--S alert-->
<div class="mask" id="mask"></div>
<!--S 客服-->
<div class="dialog-fixed dialog alertConnectServer" id="alertConnectServer">
	<div class="dialog-content text-c">
		<h5 class="title">提示</h5>
		<div class="tipsTxt">拨打客服电话？</div>
		<div class="tell font-theme">0755-33150211</div>
	</div>
	<div class="dialog-mb webkit-box">
		<span class="btnf-full quit flex" onclick="$('#alertConnectServer').removeClass('open');$('.mask').hide();">取消</span>
		<span class="btnf-full sure flex" onclick="$('#alertConnectServer').removeClass('open');$('.mask').hide();">确定</span>
	</div>
</div>
<!--E 客服-->
<!--S 服务说明-->
<div class="alert service-description">
	<h1 class="title">服务说明</h1>
	<ul class="items">
		<li class="item"><img src="../html-touch/common/img/right.png" alt="" class="img">平台承诺24小时内发货</li>
		<li class="item"><img src="../html-touch/common/img/right.png" alt="" class="img">厂家直供，货品保证</li>
		<li class="item"><img src="../html-touch/common/img/right.png" alt="" class="img">7天无理由退换货<p class="desc">满足7天无理由退货申请的前提下，包邮商品需要买家承担退换货邮费</p></li>
		<li class="item"><img src="../html-touch/common/img/right.png" alt="" class="img">最低价格，最高优惠</li>
		<li class="item"><img src="../html-touch/common/img/right.png" alt="" class="img">货票同行/单据一同送达</li>
	</ul>
	<div class="alert-bottom-btn webkit-box">
  	<a class="flex addCart close">完成</a>
  </div>
</div>
<!--E 服务说明-->
<!--S 选择类型-->
<div class="alert alert-choose-type" id="alert-choose-type">
  <div class="product-info">
  	<div class="detail webkit-box">
	  	<span class="pic"><img src="../html-touch/common/images/img-xq.jpg"></span>
	  </div>
	  <span class="fi fi-guanbi close"></span>
  </div>

  <div class="chose">
  	<p class="title fl">数量</p>
		<div class="count fr">
			<span class="btn-reduce">-</span>
			<input type="text" name="">
			<span class="btn-add">+</span>
		</div>
  </div>
  <div class="alert-bottom-btn webkit-box">
  	<a class="flex addCart" href="../html-touch/member/cart.html">加入购物车</a>
  	<a class="flex buyNow" href="../html-touch/member/order.html">立即购买</a>
  </div>
</div>
<!--E 选择类型-->
<!--E alert-->
<script src="../html-touch/common/js/jquery-1.7.2.min.js"></script>
<script src="../html-touch/common/js/public.js"></script>
</body>
</html>
<script type="text/javascript" src="../html-touch/common/js/swiper.min.js"></script>
<script src="../html-touch/common/js/larea/js/lArea.min.js"></script>
<script type="text/javascript" src="../html-touch/website-c/js/index.js"></script>
<script>
	var mySwiper = new Swiper('.swiper-container', {
		autoplay : 2000,//可选选项，自动滑动
    loop : true,//可选选项，开启循环
    pagination : '.swiper-pagination',
    paginationClickable :true
	});
	//区域选择
	/*var area = new lArea();
	area.init({
	    'trigger': '#area',
	    'data':lAreaData,//'js/AreaData.json'
	});*/
	//点击弹出服务说明
	$('.tipsTag').on('click',function(){
		$('#mask').add('.service-description').show();
	});
	//点击弹出类型
	$('.box-choose-type').on('click',function () {
      $('#mask').add($('#alert-choose-type')).show();
      $("html").addClass('ovfHiden');
    });
	//点击选择类型
	$('.alert-choose-type .chose dl dd').on('click',function(){
		$(this).addClass('on').siblings().removeClass('on');
	});
  //点击取消
	$(".dialog-fixed .quit, .dialog-fixed .sure").live('click',function(){
		$('.mask').hide();
		$(this).parents('.dialog-fixed').removeClass('open');
	});
	//加入购物车弹框
	$('.J_add').on('click',function(){
	//	alertTips('success','加入购物车成功');
	//	alertTips('wrong','加入购物车失败');
		alertTips('warin','加入购物车错误');
	});
	//点击div外消失
	$(document).on('click',function(e){
		var _con=$('.service-description');
		if($(e.target).is($('#mask')))
			if(!_con.is(e.target)&&_con.has(event.target).length === 0)
				{
					$('.service-description').hide();
					$('#mask').hide();
					$('.alert-choose-type').hide();
					$("html").removeClass('ovfHiden');
			}

	});
</script>
